body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --p-color: #192023;
  --s-color: #303439;
  --bradius: .5rem;
}

/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f8f8;
  color: #333;
}

.container {
    display: flex;
}

.content-container{
  width: calc(100% - 5rem);
  margin: 0 0 0 auto;
  padding: 2.5rem;
  transition: width .5s;
}

.content-container .desc{
  width: 100%;
  max-width: 50rem;
  line-height:  1.875;
}

/*Announcement Page Styles*/
.announcement-section {
    margin-top: 20px;
}

h2 {
    font-size: 32px;
    color: #333;
}

.announcement-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.announcement-information,
.existing-announcement {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.existing-announcements {
    margin-top: 10px;
}

.previous-announcement {
    background-color: #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.delete-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ff3300;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 5px;
}

.divider {
    border: none;
    height: 1px;
    background-color: #ddd;
    margin: 3px 0;
}

.new-announcement,
.subject,
.announcement-text {
    margin-bottom: 20px;
}

.subject label,
.announcement-text label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.subject input,
.announcement-text textarea {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s ease;
}

.subject input:focus,
.announcement-text textarea:focus {
    border-color: #007BFF;
}

.announcement-buttons {
    margin-top: 20px;
    text-align: center;
}

.cancel-button,
.save-button,
.delete-button {
    padding: 15px 25px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.cancel-button {
    background-color: #ddd;
    color: #333;
}

.save-button,
.delete-button {
    color: #fff;
}

.save-button {
    background-color: #28a745;
}

.delete-button {
    background-color: #dc3545;
}

.cancel-button:hover,
.save-button:hover,
.delete-button:hover,
.navigation a:hover,
.sign-out a:hover {
    filter: brightness(1.2);
}

/*Profile Page Styles*/

/* Style for the rounded square background */
.profile-background {
    background-color: #f1f1f1; /* Set background color for the square */
    border-radius: 20px; /* Create rounded corners */
    padding: 20px; /* Add padding to provide space around the content */
}

.profile-section {
    margin-top: 20px;
}

.profile-section h2 {
    font-size: 30px;
}

.profile-box {
    text-align: center;
    
}

.profile-box img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    object-fit: cover;
}

.profile-edit-link {
    margin-top: 10px;
    margin-bottom: 30px;
}

.profile-edit-link a {
    color: #0066cc;
    text-decoration: none;
}

.profile-details {
    max-width: 400px;
    margin: 0 auto;
}


.profile-field {
    margin-bottom: 20px;
}

.profile-field label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.name-fields .left,
.name-fields .right {
    flex: 1;
    margin-right: 10px;
}

.profile-buttons {
    margin-top: 20px;
    text-align: center;
}

/* Apply consistent styling to elements within the profile-field class */
.profile-field label {
    display: block; /* Display labels as block elements */
    margin-bottom: 5px; /* Add spacing between labels */
  }
  
  .profile-field input[type=text],
  .profile-field input[type=email],
  .profile-field input[type=tel],
  .profile-field input[type=password] {
    width: 300px; /* Set a consistent width for input fields */
    padding: 15px; /* Add padding inside input fields */
    margin: 5px 0 10px 0; /* Set margins around input fields */
    display: block; /* Display input fields as block elements */
    border: none; /* Remove default border */
    background: #f1f1f1; /* Set background color */
    border-radius: 20px; /* Round the corners of input fields */
  }
  
  .profile-field input[type=text]:focus,
  .profile-field input[type=email]:focus,
  .profile-field input[type=tel]:focus,
  .profile-field input[type=password]:focus {
    background-color: #ddd; /* Change background color on focus */
    outline: none; /* Remove default focus outline */
  }
  
.cancel-button,
.save-button {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.cancel-button {
    background-color: #ddd;
}

.save-button {
    background-color: #4caf50;
    color: #fff;
}


